apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ projectName }}

resources:
  - deployment.yaml
  - secrets.yaml
  - ingress.yaml
  - issuer.yaml
  - config.yaml
  - hpa.yaml
